.filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.filters select {
    max-width: 250px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.checkbox input {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}